.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@font-face {
    font-family: Monserrat;
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
}

body {
    font-family: "Monserrat";
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
  flex-grow: 1; /* Expands to push footer down */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.custom-container {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}
